<a href="https://colab.research.google.com/github/theakash07/Machine_learning/blob/main/Titanic_survival_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
%matplotlib inline

In [4]:

from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [6]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/COllab data files/Titanic-Dataset.csv')
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.shape

(891, 12)

In [17]:
df.Pclass.unique()

array([3, 1, 2])

In [19]:
df.groupby('Pclass')['Pclass'].agg('count') #finding the particular column and their types and count as well

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64